.mainSection{
    background-color: white;
    margin-bottom: 20px;
}
.error404-texto {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: rgb(49, 49, 49); /* Color de texto */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.781); /* Propiedad de sombra */
}
