.carousel{

    background-attachment: fixed;
    margin-top: 55px;
  }

  .mi-componente {
    margin-top: 50px;
    margin-bottom: 50px;
  }

   /*  
  .texto-izquierda {
 
    padding: 2em;
    color: #ffffff; 
    display: block;
    display: inline-block; 
    text-align: left; 
}
  */
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:white;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 20px;
    color:white;
  }


  .btn-group {
     width: 8rem;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-left: 55rem;
  }
  
  .btn-group a {
    min-width: 200px; /* Establece un ancho mínimo para el botón */
    margin: 0 5px; /* Espacio entre los botones */
    text-align: center; /* Alinea el texto en el centro */
  }
  
  .btn-group a.btn {
    transition: all 0.3s; /* Transición para el efecto hover */
  }
  
  .btn-group a.btn:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
  }
  

  .btn-group a.btn:hover {
    background-color: hsl(34, 100%, 38%); /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Hace que la tarjeta se agrande un poco al hacer hover */
  }
  
  
  /*.cta-button {
    background-color: #007bff;
    color: #fff; 
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .cta-button:hover {
    background-color: #0056b3; 
  }
  
  .imagen-derecha img {
    max-width: 50%;
    height: auto;
  }*/

  /*Estilos en las cards*/

  .card-text, .card-title {
    color: #f0f0f0;
  }
  
  #card-custom {
    background-color: #272932;
    box-shadow: 0px 4px 8px rgba(82, 82, 82, 0.315);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añadida la transformación */
  }
  
  #card-custom:hover {
    background-color: hsl(34, 100%, 38%);
    color: #000000;
    font-weight: bold;
    transform: scale(1.05); /* Hace que la tarjeta se agrande un poco al hacer hover */
  }

