*{
  --detalles: #8c7851;
  --texto-secundario: #716040;
  font-family: 'Libre Baskerville', serif;
}
.appContainer{
    background-color: #fffffe;
}

.cardPrincipal{
    background-color: #f9f4ef;
}

.headLine{
    background-color: #020826;
    color: #fffffe;
}

.botonRegistrar{
    background-color: #8c7851;
    border: #8c7851;
    color: #fffffe;
}